<div class="home">
  <h1>DJ Waifu</h1>

  {{#if notConnected}}
    <p class="notice">Please <a href="/spotify/login">connect to Spotify</a> to get started.</p>
  {{else}}
    <div class="landing-links">
      <a href="/create" class="createPlaylist">Create New Playlist</a>
      <a href="/update" class="updatePlaylist">Update Existing Playlist</a>
    </div>
  {{/if}}
</div>


  <script src="/js/client.js"></script>
</div>